In [1]:
import pandas as pd

In [6]:
alucar = pd.read_csv('alucar.csv')

In [8]:
alucar.head()

          mes  vendas
0  2017-01-31      10
1  2017-02-28      20
2  2017-03-31      33
3  2017-04-30      47
4  2017-05-31      63